<div id="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><b>{{site.title}}</b></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% assign sorted_pages = site.pages | sort:"weight" %}
        {% for p in sorted_pages %}
          <li {% if p.url == page.url %}class="active"{% endif %}><a href="{{p.url}}">{{p.title}}</a></li>
        {% endfor %}
        <li><a href="http://explorer.leadcoin.net" target="_blank">Block Explorer</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>